.checkbox {
  display: none;
  margin-y: 20px;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.title-h1 {
  max-width: 17ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
